body{
    background-image: url(bg.jpg);
    background-size: cover;
}
#circle 
{
    width: 400px;
    height: 400px;
    position: relative;
    margin: 100px auto;
    border: 10px solid black;
    border-radius: 50%;
}
#second,#minute,#hour
{
    position: absolute;
    width: 6px;
    left: 50%;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    transform-origin: bottom;
}
#second
{
    top: 5%;
    height: 45%;
}
#minute 
{
    top: 15%;
    height: 35%;
}
#hour
{
    top: 20%;
    height: 30%;
}